:root {
  --theme: #da5724;
  --background: #fcf5de;
  --fabIconColor: #6b3c56;
  --fabBoxShadow: 6px 6px 12px #e0dac6, -6px -6px 12px #fffff6;
  --textColor: #565656;
  --themeTextColor: #da5724;
  --themeInput: #fbc37e5e;
  --subtext: #6b3c56;
  --inputPlaceholder: #da5724;
  --rippleColor: rgb(78, 78, 78);
  --swiperBackground: #ffd3aa;
  --profilePicShadow: 0px 5px 15px -5px var(--theme);
}
