:root {
  --facebook: #4267b2;
  --github: #6e5494;
  --linkedin: #0072b1;
  --twitter: #1da1f2;
  --medium: #00ab6c;
  --youtube: #ff0000;
}

button,
a {
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0px;
  font-family: "Nunito", sans-serif;
}

.app {
  height: 100vh;
  width: 100vw;
  display: block;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
}

.container {
  margin: 0 auto;
  color: var(--textColor);
  padding: 0 70px;
  min-height: 100%;
  max-width: 1100px;
}

.coverPageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1270px;
  margin: auto;
  padding: 0 50px;
  height: 100%;
  color: var(--textColor);
}
.coverContentContainer {
  display: flex;
  max-height: 450px;
  height: 100%;
}

.displayNone {
  display: none;
}

.appToastContainer {
  z-index: 0 !important;
}

.appToast {
  background: var(--appToastBackground) !important;
}

.appToastBody {
  color: var(--appToastTextColor);
  font-weight: bold;
}

.themeBackground {
  background-color: var(--background);
}

.fabRouter {
  position: fixed;
  top: 0;
  right: 15px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 99;
  min-width: 74px;
}

.fabIconContainer {
  width: 44px;
  height: 44px;
  margin: 5px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: var(--fabBoxShadow);
  background: var(--background);
  border-radius: 5rem;
}

.fabIcon {
  color: var(--background) !important;
}

.fabSelected {
  box-shadow: none;
  background-color: var(--theme);
}

.contactContainer {
  max-width: 360px;
  height: max-content;
  margin: auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
}

.title {
  font-size: 2rem;
  color: var(--textColor);
  font-weight: bold;
}

.contactForm {
  margin-top: 10px;
}

.themeText {
  color: var(--themeTextColor);
}

.subText {
  color: var(--subtext);
  font-size: 1rem;
  line-height: 25px;
  margin-top: 1rem;
}

.formControl {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.formInput,
.formInput:focus {
  background-color: var(--themeInput);
  outline: none;
  border: none;
  border-radius: 1rem;
  height: 35px;
  margin-top: 5px;
  color: var(--textColor);
  text-indent: 15px;
  letter-spacing: 1px;
}

.formTextarea,
.formTextarea:focus {
  background-color: var(--themeInput);
  outline: none;
  border: none;
  border-radius: 1rem;
  height: 100px;
  margin-top: 5px;
  word-break: break-all;
  max-width: 330px;
  min-height: 100px;
  padding: 10px 15px;
  color: var(--textColor);
  text-indent: 10px;
  line-height: 20px;
}

.formTextarea::placeholder {
  color: var(--inputPlaceholder);
}

.formLabel {
  color: var(--subtext);
  font-weight: bold;
  font-size: 14px;
}

.submitButtonContainer {
  display: flex;
}

.justifyStart {
  justify-content: flex-start;
}

.justifyEnd {
  justify-content: flex-end;
}

.justifyCenter {
  justify-content: center;
}

.button {
  outline: none;
  border: none;
  border-radius: 1rem;
  padding: 10px 20px;
  margin: 2rem 0;
  cursor: pointer;
}

.buttonTheme {
  background-color: var(--theme);
  color: var(--background);
  font-weight: 800;
}

.ripple-button {
  display: inline-grid;
  place-items: center;
  position: relative;
  isolation: isolate;
  text-transform: uppercase;
  overflow: hidden;
}

.ripple-button::before {
  content: "";
  position: absolute;
  top: var(--y);
  left: var(--x);
  transform: translate(-50%, -50%) scale(0);
  transition: transform 750ms;
  z-index: -1;
  width: 150%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background: var(--rippleColor);
  opacity: 0.5;
}

.pulse::before {
  animation: pulse 500ms;
}

.fabRouterMobile,
.backdrop,
.swiperArea,
.swiper {
  display: none;
}

.themeController {
  position: fixed;
  bottom: 40px;
  right: 0;
  height: 50px;
  width: 60px;
  z-index: 999;
}

.themeIcon {
  position: absolute;
  transform: translate(0px, 0px);
}

.appear {
  animation: dawn 0.5s ease-in-out;
  opacity: 1;
}

.dissappear {
  animation: dusk 0.5s ease-in-out;
  opacity: 0;
}

.notFoundContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 500px;
  width: 100%;
  height: 100vh;
  margin: auto;
}

.notFoundImage {
  object-fit: cover;
  height: auto;
  width: 400px;
}

.notFoundText {
  color: var(--textColor);
  font-size: 1.7rem;
  margin-top: 25px;
  font-weight: 600;
  padding: 0 15px;
}

.coverPage {
  background-color: var(--coverPageBackground);
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 99;
  top: 0;
  left: 0;
}

.liftoffButton {
  background: var(--theme);
  border-radius: 50%;
  box-shadow: 0 0 0 0 rgb(218, 87, 36, 1);
  height: 3rem;
  width: 3rem;
  transform: scale(1);
  animation: pulse-black 1.5s infinite;
  border: none;
  outline: none;
  cursor: pointer;
}

.firstContainer {
  min-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.secondContainer {
  width: 50%;
  text-align: center;
  padding: 0 50px;
}

.firstText {
  font-size: 2rem;
  font-weight: bold;
}

.secondText {
  font-size: 3rem;
  font-weight: bold;
  margin-top: 5px;
  color: var(--theme);
}

.coverImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 25px 50px 50px 25px;
  max-width: 400px;
}

.liftoffContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.bioText {
  font-weight: bold;
  font-size: 1rem;
  color: var(--subtext);
  margin-top: 10px;
}

.launchButtonText {
  font-weight: bold;
  margin-top: 1rem;
  color: var(--subtext);
}

.typewriter {
  overflow: hidden;
  border-right: 1.5px solid var(--theme);
  white-space: nowrap;
  max-width: max-content;
  animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end infinite;
}

.coverPageContainerMobile {
  display: none;
}

.headerContainer {
  position: relative;
  margin-top: 100vh;
  width: 100%;
  padding-top: 1.5rem;
}

.titleContainer {
  text-align: center;
}

.headerTitle {
  font-size: 3.5rem;
  font-weight: bold;
  text-decoration: underline;
  color: var(--theme);
}

.atTheRate {
  font-size: 2rem;
  text-decoration: none;
  font-weight: bold;
  color: var(--subtext);
  margin-right: 5px;
}

.scrollToContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
  background: var(--background);
  height: 50px;
  padding: 1rem 0;
}

.scrollSegment {
  font-size: 1rem;
  font-weight: bold;
  color: var(--subtext);
  margin: 0 10px;
  cursor: pointer;
}

.aboutMeContainer,
.academicsContainer,
.certificationsContainer,
.projectContainer,
.careerContainer,
.wrapUpContainer {
  margin-top: 3rem;
}

.footerContainer {
  position: absolute;
  margin-top: 4rem;
  width: 100vw;
  left: 0;
  height: max-content;
  text-align: center;
  color: var(--lightColorShade);
  padding: 2rem 0;
}

.sharedTitle {
  font-size: 2.7rem;
  font-weight: bold;
  color: var(--subtext);
  width: 100%;
  border-left: 5px solid var(--subtext);
  line-height: 50px;
  padding-left: 1rem;
}

.aboutMeDescription,
.wrapUpDescription {
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.5;
}

.wrapUpContactContainer {
  display: flex;
}

.wrapUpContactButton {
  margin: 0 0 0 20px !important;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--theme);
  }
}

@keyframes pulse-black {
  0% {
    transform: scale(0.8);
    box-shadow: 0 0 0 0 rgba(218, 87, 36, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 20px rgba(218, 87, 36, 0);
  }

  100% {
    transform: scale(0.8);
    box-shadow: 0 0 0 0 rgba(218, 87, 36, 0);
  }
}

@keyframes pulse {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0.5;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
  }
}

@keyframes dawn {
  from {
    transform: translate(0px, 100px);
    opacity: 0;
  }
  to {
    transform: translate(0px, 0px);
    opacity: 1;
  }
}

@keyframes dusk {
  from {
    transform: translate(0px, 0px);
    opacity: 1;
  }
  to {
    transform: translate(50px, 0px);
    opacity: 0;
  }
}

@media (max-width: 600px) {
  .notFoundImage {
    width: 90%;
  }

  .notFoundContainer {
    margin: 0;
  }
}

@media (max-width: 768px) {
  .wrapUpContactContainer {
    display: block;
  }

  .wrapUpContactButton {
    margin: 2rem 0 !important;
  }

  .sharedTitle {
    font-size: 2rem;
  }

  .aboutMeTitle {
    line-height: 35px;
  }

  .titleContainer {
    text-align: left;
  }

  .atTheRate {
    font-size: 1.5rem;
  }

  .headerTitle {
    font-size: 2rem;
  }

  .headerContainer {
    padding: 11px 0;
    position: sticky;
    top: 0;
    background: var(--background);
  }

  .scrollToContainer {
    display: none;
  }

  .themeController {
    display: none;
  }

  .container {
    margin: 0;
    padding: 0 20px;
  }

  .fabRouter {
    display: none;
  }

  .fabRouterMobile,
  .backdrop,
  .swiperArea {
    display: block;
  }

  .swiperArea {
    width: 30px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1032;
    height: 100vh;
  }

  .backdrop {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    backdrop-filter: brightness(0.5) blur(3px);
    z-index: 999;
  }

  .swiper {
    height: 100vh;
    width: 250px;
    position: fixed;
    top: 0;
    right: -250px;
    transition: 0.2s linear;
    background-color: var(--swiperBackground);
    z-index: 999;
    display: flex;
    flex-direction: column;
  }

  .swiperVisible {
    right: 0;
  }

  .menuLink {
    text-decoration: none;
    display: flex;
    width: 100%;
    height: 40px;
    place-items: center;
    color: var(--themeTextColor);
    padding-left: 25px;
    font-weight: bold;
  }

  .menuLinkSelected {
    box-shadow: inset 3px 0 0 0 var(--theme);
  }

  .themeControllerMobile {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 70px;
    right: 0;
    height: max-content;
    width: 100%;
    height: 110px;
    overflow: hidden;
  }

  .themeIcon {
    position: absolute;
    transform: translate(0px, 0px);
  }

  .appear {
    animation: dawn 0.5s ease-in-out;
    opacity: 1;
  }

  .dissappear {
    animation: dusk 0.5s ease-in-out;
    opacity: 0;
  }

  .swiperProfile {
    display: flex;
    flex-direction: column;
    margin-top: 130px;
  }

  .profilePicMobile {
    height: 150px;
    width: 150px;
    margin: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1.5rem 1.5rem 0.7rem 1.5rem;
    z-index: 99;
    box-shadow: var(--profilePicShadow);
  }

  .linkItems {
  }

  .socialLinksMobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
  }

  .socialLinkItemMobile {
    margin-bottom: 5px;
  }

  .fabRouterMobile {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
  }

  #hanburgerIcon {
    width: 45px;
    height: 45px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
  }

  #hanburgerIcon span {
    display: block;
    position: absolute;
    height: 4px;
    width: 80%;
    background: var(--theme);
    border-radius: 10px;
    opacity: 1;
    left: 10px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }

  #hanburgerIcon span:nth-child(1) {
    top: 0px;
  }

  #hanburgerIcon span:nth-child(2),
  #hanburgerIcon span:nth-child(3) {
    top: 10px;
  }

  #hanburgerIcon span:nth-child(4) {
    top: 20px;
  }

  #hanburgerIcon.open span:nth-child(1) {
    top: 10px;
    width: 0%;
    left: 50%;
  }

  #hanburgerIcon.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  #hanburgerIcon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  #hanburgerIcon.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
  }

  .secondContainer {
    display: none;
  }

  .secondText {
    font-size: 2rem;
  }

  .firstText {
    font-size: 1.5rem;
  }

  .launchButtonText {
    text-align: center;
  }

  .linksContainerMobile {
    overflow-y: scroll;
    margin: 3rem 0 0;
    max-height: calc(100vh - 375px);
    overflow-x: hidden;
  }

  .linksContainerMobile::-webkit-scrollbar {
    width: 7px;
  }

  .linksContainerMobile::-webkit-scrollbar-thumb {
    background-color: var(--theme);
    border-radius: 50px;
  }

  @keyframes dawn {
    from {
      transform: translate(120px, 100px);
      opacity: 0;
    }
    to {
      transform: translate(0px, 0px);
      opacity: 1;
    }
  }

  @keyframes dusk {
    from {
      transform: translate(0px, 0px);
      opacity: 1;
    }
    to {
      transform: translate(-120px, 100px);
      opacity: 0;
    }
  }
}
