body {
  margin: 0px;
  font-family: 'Nunito', sans-serif;
}

.app {
  height: 100vh;
  width: 100vw;
  display: block;
  position: relative;
  overflow: auto;
}

.container {
  margin: 0 70px;
  color: var(--textColor);
}

.appToastContainer {
  z-index: 0 !important;
}

.appToast {
  background: var(--appToastBackground) !important;
}

.appToastBody {
  color: var(--appToastTextColor);
  font-weight: bold;
}

.themeBackground {
  background-color: var(--background);
}

.fabRouter {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fabIconContainer {
  width: 44px;
  height: 44px;
  margin: 5px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: var(--fabBoxShadow);
  background: var(--background);
  border-radius: 5rem;
}

.fabIcon {
  color: var(--background) !important;
}

.fabSelected {
  box-shadow: none;
  background-color: var(--theme);
}

.contactContainer {
  max-width: 360px;
  height: max-content;
  margin: auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
}

.title {
  font-size: 2rem;
  color: var(--textColor);
  font-weight: bold;
}

.contactForm {
  margin-top: 10px;
}

.themeText {
  color: var(--themeTextColor);
}

.subText {
  color: var(--subtext);
  font-size: 1rem;
  line-height: 25px;
  margin-top: 1rem;
}

.formControl {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.formInput,
.formInput:focus {
  background-color: var(--themeInput);
  outline: none;
  border: none;
  border-radius: 1rem;
  height: 35px;
  margin-top: 5px;
  color: var(--textColor);
  text-indent: 15px;
  letter-spacing: 1px;
}

.formTextarea,
.formTextarea:focus {
  background-color: var(--themeInput);
  outline: none;
  border: none;
  border-radius: 1rem;
  height: 100px;
  margin-top: 5px;
  word-break: break-all;
  max-width: 330px;
  min-height: 100px;
  padding: 10px 15px;
  color: var(--textColor);
  text-indent: 10px;
  line-height: 20px;
}

.formTextarea::placeholder {
  color: var(--inputPlaceholder);
}

.formLabel {
  color: var(--subtext);
  font-weight: bold;
  font-size: 14px;
}

.submitButtonContainer {
  display: flex;
  justify-content: flex-start;
  margin: 2rem 0;
}

.button {
  outline: none;
  border: none;
  border-radius: 1rem;
  padding: 10px 20px;
  cursor: pointer;
}

.buttonTheme {
  background-color: var(--theme);
  color: var(--background);
  font-weight: 800;
}

.ripple-button {
  display: inline-grid;
  place-items: center;
  position: relative;
  isolation: isolate;
  text-transform: uppercase;
  overflow: hidden;
}

.ripple-button::before {
  content: '';
  position: absolute;
  top: var(--y);
  left: var(--x);
  transform: translate(-50%, -50%) scale(0);
  transition: transform 750ms;
  z-index: -1;
  width: 150%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background: var(--rippleColor);
  opacity: 0.5;
}

.pulse::before {
  animation: pulse 500ms;
}

.fabRouterMobile,
.backdrop,
.swiperArea,
.swiper {
  display: none;
}

.themeController {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 70px;
  right: 0;
  height: 50px;
  width: 100%;
}

.themeIcon {
  position: absolute;
  transform: translate(0px, 0px);
}

.appear {
  animation: dawn 0.5s ease-in-out;
  opacity: 1;
}

.dissappear {
  animation: dusk 0.5s ease-in-out;
  opacity: 0;
}

@keyframes pulse {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0.5;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
  }
}

@keyframes dawn {
  from {
    transform: translate(0px, 100px);
    opacity: 0;
  }
  to {
    transform: translate(0px, 0px);
    opacity: 1;
  }
}

@keyframes dusk {
  from {
    transform: translate(0px, 0px);
    opacity: 1;
  }
  to {
    transform: translate(-40px, 0px);
    opacity: 0;
  }
}

@media (max-width: 768px) {
  .container {
    margin: 0;
  }

  .fabRouter {
    display: none;
  }

  .fabRouterMobile,
  .backdrop,
  .swiperArea {
    display: block;
  }

  .swiperArea {
    width: 30px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1032;
    height: 100vh;
  }

  .backdrop {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    backdrop-filter: brightness(0.5) blur(3px);
    z-index: 1;
  }

  .swiper {
    height: 100vh;
    width: 250px;
    position: fixed;
    top: 0;
    right: -250px;
    transition: 0.2s linear;
    background-color: var(--swiperBackground);
    z-index: 9;
    display: flex;
    flex-direction: column;
  }

  .swiperVisible {
    right: 0;
  }

  .menuLink {
    text-decoration: none;
    display: flex;
    width: 100%;
    height: 40px;
    place-items: center;
    color: var(--themeTextColor);
    padding-left: 25px;
    font-weight: bold;
  }

  .menuLinkSelected {
    box-shadow: inset 3px 0 0 0 var(--theme);
  }

  .themeControllerMobile {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 70px;
    right: 0;
    height: max-content;
    width: 100%;
    height: 110px;
    overflow: hidden;
  }

  .themeIcon {
    position: absolute;
    transform: translate(0px, 0px);
  }

  .appear {
    animation: dawn 0.5s ease-in-out;
    opacity: 1;
  }

  .dissappear {
    animation: dusk 0.5s ease-in-out;
    opacity: 0;
  }

  .swiperProfile {
    display: flex;
    flex-direction: column;
    margin-top: 130px;
  }

  .profilePicMobile {
    height: 150px;
    width: 150px;
    margin: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1.5rem 1.5rem 0.7rem 1.5rem;
    z-index: 99;
    box-shadow: var(--profilePicShadow);
  }

  .linkItems {
    margin-top: 3rem;
  }

  .fabRouterMobile {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 999;
  }

  #hanburgerIcon {
    width: 45px;
    height: 45px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
  }

  #hanburgerIcon span {
    display: block;
    position: absolute;
    height: 4px;
    width: 80%;
    background: var(--theme);
    border-radius: 10px;
    opacity: 1;
    left: 10px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }

  #hanburgerIcon span:nth-child(1) {
    top: 0px;
  }

  #hanburgerIcon span:nth-child(2),
  #hanburgerIcon span:nth-child(3) {
    top: 10px;
  }

  #hanburgerIcon span:nth-child(4) {
    top: 20px;
  }

  #hanburgerIcon.open span:nth-child(1) {
    top: 10px;
    width: 0%;
    left: 50%;
  }

  #hanburgerIcon.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  #hanburgerIcon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  #hanburgerIcon.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
  }

  @keyframes dawn {
    from {
      transform: translate(120px, 100px);
      opacity: 0;
    }
    to {
      transform: translate(0px, 0px);
      opacity: 1;
    }
  }

  @keyframes dusk {
    from {
      transform: translate(0px, 0px);
      opacity: 1;
    }
    to {
      transform: translate(-120px, 100px);
      opacity: 0;
    }
  }
}
