[data-theme='dark'] {
  --background: #1c1a1b;
  --fabIconColor: #ffffff;
  --fabBoxShadow: inset -20px -20px 16px #151415, inset 20px 20px 16px #232021;
  --fabBoxShadowSelected: inset -20px -20px 16px #212a26,
    inset 20px 20px 16px #00fbb5;
}
